.root {
  @apply w-full h-full;
}

.link {
  @apply inline-flex items-center leading-6 font-bold transition ease-in-out duration-75 cursor-pointer;
}

.link:hover {
  @apply underline;
}

.link:focus {
  @apply outline-none;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}

.imageStyle {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center center;
}

/* @media (max-width: 1224px) {
  .root {
    height: 400px;
  }
} */
