.root {
  align-items: center;
  height: 500px;
  background-color: #f8f4f2;
}

.fullscreenRoot {
  align-items: center;
  height: 500px;
  background-color: #f8f4f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mobileRoot {
  align-items: center;
  height: 500px;
  background-color: #f8f4f2;
  display: flex;
  flex-direction: column;
}
