/* .input {
  display: none !important;
  -webkit-appearance: hidden;
  -moz-appearance: hidden;
  appearance: hidden;
  height: 10px;
  text-indent: 0px;
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-weight: 400;
  outline: none;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  padding: 0 0 0 15px;
  cursor: pointer;
}

.label {
  cursor: pointer;
} */
